* {
    box-sizing: border-box;
    user-select: none;
}

html {
    background-color:#23bbf7;
    background-image: linear-gradient(#23bbf7, #ff6f00);
    background:-webkit-linear-gradient(top, #23bbf7, #ff6f00);
    background:-moz-linear-gradient(top, #23bbf7, #ff6f00);
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #23bbf7), color-stop(100%, #ff6f00));
    background-attachment: fixed;
}

body {
    background-color: transparent;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    height: 50vh;
    margin-top: 30%;
}

.card-title, .card-text {
    margin: 3%;
}

.fas {
    font-size: 2rem;
    margin: 3%;
    padding: 1%;
}

.border {
    border: 3px solid black !important;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

    .card {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: 100%;
      height: 100%;
    }

    .card-title, .card-text {
        font-size: 3rem;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .fas {
        font-size: 4rem;
        margin: 3%;
        padding: 1%;
    }

}
