* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-image: linear-gradient(rgb(35, 187, 247), rgb(255, 111, 0));
    background-attachment: fixed;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    height: 40vh;
    margin-top: 30%;
}

.card-title, .card-text {
    margin: 3%;
}

.fas {
    font-size: 2rem;
    margin: 3%;
    padding: 1%;
}

.border {
    border: 3px solid black !important;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

    .card {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: 100%;
    }

    .card-title, .card-text {
        font-size: 1.5rem;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .fas {
        font-size: 1.5rem;
        margin: 3%;
        padding: 1%;
    }

}
